{% extends 'layout.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% include '_messages.html'%}
            {% if brands %}
            <h2 class="text-center mt-5"> Agregar marca </h2>
            <form action="" method="POST">
                <input type="text" name="brand" class="form-control">
                <input type="submit" value="Add brand" class="btn btn-info mt-2">
            </form>
            {% else %}
            <h2 class="text-center mt-5"> Agregar categoría </h2>
            <form action="" method="POST">
                <input type="text" name="category" class="form-control">
                <input type="submit" value="Add category" class="btn btn-info mt-2">
            </form>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}