{% extends 'layout.html'%}
{% block content %}
<!--NAVBAR--->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Tienda Online</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('home')}}">Productos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Marcas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for brand in brands%}
              <a class="dropdown-item" href="{{url_for('get_brand', id= brand.id)}}">{{brand.name}}</a>
              {% endfor %}
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categories%}
              <a class="dropdown-item" href="{{url_for('get_category', id= category.id)}}">{{category.name}}</a>
              {% endfor %}
            </div>
          </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">
             <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
             <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
</div>
<!--END NAVBAR--->
<div class="container">
    <div class="row">
        {%if brand %}
        {% for b in brand %}
            <div class="col-md-3 mt-3">
                <div class="card">
                    <img src="{{url_for('static', filename='images/' + b.image_1)}}" alt="{{b.name}}" class="card-img-top" height="200">
                    <div class="card-body">
                        {% if b.discount > 0%}
                            <h5 style="text-shadow: 1px 1px 2px #000;color:#00bb2d; position:absolute; top:10%;"> Descuento {{b.discount}}%</h5>
                        {% endif %}
                        <h5 class="text-center"> {{b.name}}</h5>
                        <p class="text-center">Precio ${{b.price}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="float-left btn btn-sm btn-primary">Details</a>
                        <a href="" class="float-rigth btn btn-sm btn-warning">Add to cart</a>
                    </div>
                </div>

            </div>
        {% endfor %}

        {% elif get_cat_prod %}
        {% for get_cat in get_cat_prod %}
            <div class="col-md-3 mt-3">
                <div class="card">
                    <img src="{{url_for('static', filename='images/' + get_cat.image_1)}}" alt="{{get_cat.name}}" class="card-img-top" height="200">
                    <div class="card-body">
                        {% if get_cat.discount > 0%}
                            <h5 style="text-shadow: 1px 1px 2px #000;color:#00bb2d; position:absolute; top:10%;"> Descuento {{get_cat.discount}}%</h5>
                        {% endif %}
                        <h5 class="text-center"> {{get_cat.name}}</h5>
                        <p class="text-center">Precio ${{get_cat.price}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="float-left btn btn-sm btn-primary">Details</a>
                        <a href="" class="float-rigth btn btn-sm btn-warning">Add to cart</a>
                    </div>
                </div>

            </div>

        {% endfor %}

        {% else %}


        {% for product in products %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}" class="card-img-top" height="200">
                <div class="card-body">
                    {% if product.discount > 0%}
                        <h5 style="text-shadow: 1px 1px 2px #000;color:#00bb2d; position:absolute; top:10%;"> Descuento {{product.discount}}%</h5>
                    {% endif %}
                    <h5 class="text-center"> {{product.name}}</h5>
                    <p class="text-center">Precio ${{product.price}}</p>
                </div>
                <div class="card-footer">
                    <a href="" class="float-left btn btn-sm btn-primary">Details</a>
                    <a href="" class="float-rigth btn btn-sm btn-warning">Add to cart</a>
                </div>
            </div>

        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}