{% extends 'layout.html'%}
{% block content %}
{% include 'navbar.html '%}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" id="b_image">
            <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}" width="350" height="350">
        </div>

        <div class="col-md-6">
            <h4> {{ product.name }}</h4>
            <p> Price: ${{ product.price }}</p>
            {% if product.discount > 0%}
            <p> Discount: {{ product.discount}} %</p>
            {% endif %}
            <b>Product Discription</b>
            <p> {{ product.desc }}</p>
            <form action="{{url_for('addCart')}}" method="post">
              <input type="hidden" name="product_id" value="{{product.id}}">
              <button type="submit" class="btn btn-sm btn-warning">Add cart</button>
              <label for="quantity">Quantity:</label>
              <input type="number" name="quantity"value="1" min="1" max="{{ product.stock }}">
              {% set colors = product.colors.split(',') %}
              <label for="colors">Colors:</label>
              <select name="colors" id="" >
                {% for color in colors %}
                {% set col = color.split(':') %}
                <option value="{{col[0]}}">{{col[0]}}</option>
                
                {% endfor %}
              </select>

            </form>
            

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-3" id="s_image">
            <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}" width="120" height="120" class="p-3">
            <img src="{{url_for('static', filename='images/' + product.image_2)}}" alt="{{product.name}}" width="120" height="120" class="p-3">
            <img src="{{url_for('static', filename='images/' + product.image_3)}}" alt="{{product.name}}" width="120" height="120" class="p-3">
        </div>

    </div>
</div>

<script>
   var b_image = document.getElementById('b_image');
   var s_image = document.getElementById('s_image').getElementsByTagName('img');
    for(var i = 0; i < s_image.length; i++){

        s_image[i].addEventListener('click', full_image);
    }
    function full_image(){
        var ImageSRC = this.getAttribute('src');
        b_image.innerHTML = "<img src=" + ImageSRC + " width='350' height='350'>";
    }
</script>
{% endblock %}