{% extends 'layout.html'%}
{% block content %}
<!--NAVBAR--->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Tienda Online</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('home')}}">Productos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Marcas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for brand in brands%}
              <a class="dropdown-item" href="{{url_for('get_brand', id= brand.id)}}">{{brand.name}}</a>
              {% endfor %}
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categories%}
              <a class="dropdown-item" href="{{url_for('get_category', id= category.id)}}">{{category.name}}</a>
              {% endfor %}
            </div>
          </li>

          <li class="nav-item">
            <a href="" class="nav-link" tabindex="-1">Cart ({{session['Shoppingcart']|length}})</a>
          </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">
             <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
             <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
</div>
<!--END NAVBAR--->

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" id="b_image">
            <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}" width="350" height="350">
        </div>

        <div class="col-md-6">
            <h4> {{ product.name }}</h4>
            <p> Price: ${{ product.price }}</p>
            {% if product.discount > 0%}
            <p> Discount: {{ product.discount}} %</p>
            {% endif %}
            <b>Product Discription</b>
            <p> {{ product.desc }}</p>
            <form action="{{url_for('addCart')}}" method="post">
              <input type="hidden" name="product_id" value="{{product.id}}">
              <button type="submit" class="btn btn-sm btn-warning">Add cart</button>
              <label for="">Quantity:</label>
              <input type="number" name="quantity" id="" value="1" min="1" max="{{product.stock}}">
              {% set colors = product.colors.split(',') %}
              <label for="colors">Colors:</label>
              <select name="colors" id="" >
                {% for color in colors %}
                {% set col = color.split(':') %}
                <option value="{{col[0]}}">{{col[0]}}</option>
                
                {% endfor %}
              </select>

            </form>
            

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-3" id="s_image">
            <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}" width="120" height="120" class="p-3">
            <img src="{{url_for('static', filename='images/' + product.image_2)}}" alt="{{product.name}}" width="120" height="120" class="p-3">
            <img src="{{url_for('static', filename='images/' + product.image_3)}}" alt="{{product.name}}" width="120" height="120" class="p-3">
        </div>

    </div>
</div>

<script>
   var b_image = document.getElementById('b_image');
   var s_image = document.getElementById('s_image').getElementsByTagName('img');
    for(var i = 0; i < s_image.length; i++){

        s_image[i].addEventListener('click', full_image);
    }
    function full_image(){
        var ImageSRC = this.getAttribute('src');
        b_image.innerHTML = "<img src=" + ImageSRC + " width='350' height='350'>";
    }
</script>
{% endblock %}