{% extends 'layout.html'%}
{% block content%}

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{url_for('admin')}}">Tienda Online</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('admin')}}">Productos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('brands')}}">Marcas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('category')}}">Categorias</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Agregar productos
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{url_for('addproduct')}}">Agregar productos</a>
                    <a class="dropdown-item" href="{{url_for('addbrand')}}">Agregar marcas</a>
                    <a class="dropdown-item" href="{{url_for('addcat')}}">Agregar categorias</a>
                  </div>
                </li>
              </ul>
            </div>

            <a href=""<button class="btn btn-outline-info me-2" type="button">Home</button></a>
            <a href="{{url_for('admin')}}"><button class="btn btn-outline-success me-2" type="button">Admin</button></a>
            <a href="{{url_for('logout')}}"><button class="btn btn-outline-danger me-2" type="button">Logout</button></a>

          </nav>
    </div>

<div class="container">
    {% include '_messages.html'%}
    <table class="table table-sm table-striped table-condensed  table-hover  table-dark">
        <thead>
            <th>Sr</th>
            <th>Product</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Brand</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
            {% for product in products %}
        <tbody>
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.discount }}</td>
                    <td>{{ product.brand.name}}</td>
                    <td><img src="{{url_for('static',filename='images/' + product.image_1)}}" alt="{{product.name}}" width="50" height="20"></td>
                    <td><a class="btn btn-info">Edit</a></td>
                    <td><a class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}